In [1]:
%cd ../../

/Users/macos/Uni/1st_year/period_3/DSProj

In [2]:
import numpy as np
import pandas as pd
from sklearn import metrics

In [3]:
path = "code/models/MF/val_preds.csv"

df = pd.read_csv(path)

df.head()

   site  genera  occurence      pred
0   527     303        0.0  4.088126
1   527     191        0.0  2.280498
2   527     398        0.0  7.639316
3   527     154        0.0  0.261028
4   528     303        0.0  0.684038

In [4]:
def signoid(v, binary: bool = False):
    out = 1 / (1 + np.exp(-v))

    if binary is True:
        out = (out >= 0.5).astype(np.int32)

    return out

df['pred_trans'] = signoid(df['pred'], binary=True)

df.head()

   site  genera  occurence      pred  pred_trans
0   527     303        0.0  4.088126           1
1   527     191        0.0  2.280498           1
2   527     398        0.0  7.639316           1
3   527     154        0.0  0.261028           1
4   528     303        0.0  0.684038           1

In [5]:
df_ = df[df['occurence'] == 1]
df_.head()

    site  genera  occurence      pred  pred_trans
9    396      31        1.0  4.568531           1
48   535      10        1.0  6.856437           1
50   535      50        1.0  1.341075           1
51   535     339        1.0  5.920115           1
56   150     409        1.0  5.677404           1

In [6]:
metrics.f1_score(df_['occurence'], df_['pred_trans'])

1.0